<div class="container">
	<div id="intro">
		<h1>Generate a <a href="http://www.qrcode.com" target="_blank" id="qrcodecom">QR Code</a> now!</h1>
	</div>
	<div id="qrcode">
		<img src="{#qrcode-src}" alt="{#qrcode-alt}">
	</div>
	<p class="red center" id="error_text"></p>
	<form method="post" action="/api/generate" enctype="multipart/form-data" class="center" id="generator">
		<p>
		<label>Input text or URL</label><br>
		<textarea name="text" placeholder="your text or URI"></textarea><br>
		<label>Upload picture</label><br>
		<input type="file" name="picture" accept="image/*"> <input type="button" value="Upload"><br>
		<label>Label text</label> <input type="text" name="label" value="" placeholder="image label">
		<label>Label size[8-32]</label> <input type="number" name="label_size" min="8" max="32" value="16" placeholder="label font size"><br>
		<label>Size[64-512]</label>
		<input type="number" name="size" min="64" max="512" value="256">
		<label>Padding[0-64]</label>
		<input type="number" name="padding" min="0" max="64" value="0"><br>
		<label>Correction level</label>
		<select name="correction">
			{#option-correction}
		</select><br>
		<label>Foreground</label>
		<input type="color" name="foreground">
		<label>Background</label>
		<input type="color" name="background" value="#ffffff"><br>
		<label>Background transparency[0-127]</label>
		<input type="number" name="alpha" min="0" max="127" value="0">
		</p>
		<p><input type="submit" value="Create QR Code!" id="generator-submit"></p>
	</form>
</div>

<script>
var $qrcode = $('#qrcode');
var $generator = $('#generator');
var $error_text = $('#error_text');
$generator.ajaxForm({
	dataType: 'json',
	success: function(data) {
		var img_src;
		if(data.error) {
			$error_text.text('Error: ' + data.error);
			img_src = '/files/errors/' + data.img;
		}
		else {
			$error_text.text('');
			img_src = '/files/qr_codes/' + data.img;
		}
		$qrcode.find('img').attr('src', img_src);
		$('html, body').animate({scrollTop:$('#qrcode').position().top - 50});
	}
});
</script>