<!-- 404 -->
<h1>404 Page Not Found</h1>
<p>Oops! Nothing's here. Go to <a href="/">homepage</a></p>
<!-- 404 -->

<!-- apidoc -->
<h1>Public API Documentation</h1>
<p>API URL: http://qrcode.tk/api/generate</p>
<p>Request Method: GET and POST are both allowed. However, if you want to upload a file, POST is recommended.</p>
<p>For details, look into form HTML. Input parameters are described there. I'm too lazy now to write all the stuff.</p>
<p>Use it for free, as you wish. I don't give a shit.</p>
<!-- apidoc -->