/* ------------------------- RESET AND COMMON STYLES ------------------------*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block;
}
.hidden, [hidden] {
    display: none;
}
.invisible {
	visibility: hidden;
}
*, :focus {
	outline: none;
}
ol, ul {
	padding-left:1em;
}
li {
	margin:1em;
	margin-left:2em;
}
p {
	margin: 0 auto 1em;
}
img {
	border: none;
}
small, .small {
	font-size:10px;
}
h1,h2,h3,h4,h5,h6 {
	color:#333333;
	font-weight:normal;
	margin-bottom:1em;
	margin-top: 0;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.90em;
}
h6 {
    font-size: 0.80em;
}
.s1 {
    font-size: 1.1em;
}
.s2 {
    font-size: 1.2em;
}
.s3 {
    font-size: 1.3em;
}
.s4 {
    font-size: 1.4em;
}
.s5 {
    font-size: 1.5em;
}
.s6 {
    font-size: 1.6em;
}
.sm1 {
	font-size: 11px;
}
.sm2 {
	font-size: 10px;
}
.sm3 {
	font-size: 8px;
}
pre {
	word-wrap: break-word;
	padding: 1em;
}
select {
	padding:1px;
}
.m0 {
	margin: 0;
}
.m0a {
	margin: 0 auto;
}
.m20 {
	margin: 20px;
}
.m20a {
	margin:20px auto;
}
.mb20 {
	margin-bottom:20px;
}
.clear {
	display:block;
	position:relative;
	clear:both;
}
.line {
	height:1em;
}
.red {
	color:red;
}
.blood {
	color:#900;
}
.green {
	color:#090;
}
.blue {
	color:blue;
}
.grey {
	color:#666;
}
.black {
	color:black;
}
.white {
	color:white;
}
.cgrey {
	color:#aaa;
}
.lined {
	text-decoration: underline;
}
.dashed {
	border-bottom: dashed 1px;
	text-decoration:none;
}
.dotted {
	border-bottom: dotted 1px;
	text-decoration:none;
}
.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}
.block {
	display:block;
}
.iblock {
	display:inline-block;
}
.absolute {
	position: absolute;
}
.relative {
	position:relative;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding:0;
}
.wide {
	width:100%;
}
.elastic {
	height:auto;
	overflow:auto;
}
.table {
	display: table;
}
.cell {
	display: table-cell;
	padding: 0;
}
.left {
	text-align:left;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.top {
	vertical-align:top;
}
.middle {
	vertical-align:middle;
}
.bottom {
	vertical-align:bottom;
}
.nowrap {
	white-space:nowrap;
}
.w25 {
	width: 25px;
}
.w50 {
	width:50px;
}
.w75 {
	width:75px;
}
.w100{
	width:100px;
}
.w125 {
	width:125px;
}
.w150 {
	width:150px;
}
.w175 {
	width:175px;
}
.w200 {
	width:200px;
}
.w225 {
	width:225px;
}
.w250 {
	width:250px;
}
.w275 {
	width:275px;
}
.w300 {
	width:300px;
}
.w350 {
	width:350px;
}
.w400 {
	width:400px;
}
.w450 {
	width:450px;
}
.w500 {
	width:500px;
}
.w550 {
	width: 550px;
}
.w600 {
	width: 600px;
}
.pointer {
	cursor: pointer;
}

/* --------------------- SPECIFIC STYLES BELOW ----------------------- */

/* cyrillic-ext */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/_UIws5dpKC1RfhGPW_D7VQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/VI6dwR3qOFADPI7kkTnlug.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/4W1i2GqDprP6PUrv5L9lzw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/YjD7Z5idi6Khm_WnIgFa0Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(https://fonts.gstatic.com/s/play/v6/ZNo-5SxCwH1CXgZ-n3bt2g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
	margin: 0;
	font-family: Play;
}
header {
	height: 300px;
}
footer {
	height: 300px;
}

header {
	position: relative;
	height: 16px;
	line-height: 16px;
	padding: 10px;
	background: #6D8916;
	border-bottom: solid 1px black;
	box-shadow: 0 1px 2px #333;
}
#nav-header .link {
	display: inline-block;
	margin-right: 1em;
	color: white;
}
#joke {
	float: right;
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
#main {
	min-height: 300px;
	padding: 20px 10px;
}
footer {
	line-height: 16px;
	padding: 10px;
	background: #2E5888;
	color: white;
}

#qrcode {
	text-align: center;
	margin: 20px auto;
}

.container {
	max-width: 800px;
	min-width: 450px;
	margin: 0 auto;
}

#intro {
	text-align: center;
}

#qrcodecom {
	text-decoration: none;
	color: #090;
	padding-right: 30px;
	background: url('/ui/img/external-link.png') right center no-repeat;
}
#qrcodecom:hover {
	text-decoration: underline;
	color: green;
}

#generator {
	
}
#generator-submit {
	font-size: 32px;
	padding: 10px 30px;
	background: green;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
}
#generator-submit:hover {
	background: #0a0;
}
